.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a5a7ac;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 4em;
    width: 500px;
}